@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">





    <h1 class="display-4">Welcome to Las Cruces Collection & Compost</h1>
    <br>    
    <h3>We believe that responsible waste disposal includes compost collection & compost utilization.<h3>
    <br>
    <p>Our efforts, with your help, create healthier soil, cleaner air, cleaner water, and a more stable climate.<p>
    <br>
    <p>And our company believes in sustainable living wage jobs for our employees.</a></p>
    <br>

</div>


<center>
    <img src="https://mantis.com/wp-content/uploads/2018/06/Mantis-ComposTumbler-shoveling-finished-compost.jpg" />
    <br>
    <br>
    <h1 class="display-4">Next Generation On-Line Services for Your Collection & Composting Needs </h1>
    <br>
    <h3>Use our On-Line Portal to register to join our service, to schedule your pick-ups and other services.<h3>
        <br>
    <p>Our employees use this portal to navigate pick-ups and daily routes.<p>
        <br>
    <p>Existing LC&C customers may log-in to check your balance and request, discontinue , or otherwise modify services.</a></p>
    <br>


