@{
    ViewData["Title"] = "Our Privacy Policy:";
}
<h1>@ViewData["Title"]</h1>

<H2>
    We hold your information secure with the strongest digital-measures available.<br />
    Your digital security is a top LC&C priority.
</H2>
<br />
<br />
<img src="https://cdn.helpsystems.com/styles/crop_general/storage-api-public/hey-security-functionality-banner-1920x744.jpg?itok=AM_QdAYf" />